/* 
    General Styles
<<<<<<< HEAD
*/

body {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: fixed;
}

.name{
    font-size: 25px;
    color: red;
}
.container-fluid {
    text-align: center;
    color: black;
}

.signup {
   
    text-align: center;
}

.button {
  margin: auto;
  text-align: center; 
  font-size: 35px;
  justify-content: center;
    
}

.facebook {
    width: 200px;
    height: 35px;
  
}

.login {
    margin: auto;
  text-align: center; 
  font-size: 18px;
  justify-content: center;
  color: black;
}


.titlle{
    color: black;
}

.label{
    color: black;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

#inputPropertyUpload{
    border: 1px solid;
    color: #ced4da;
}

#selectPropertyUpload{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s 
}


.LogInPage{
    
    background: none;
}

.agree{
    padding-left: 40px;
    display: inline-block;
    
}

.disagree{
    padding-left:30px;
    display: inline-block;
}

h3{
    padding-left: 45px;
}

h1{
    padding-left: 40%;
}

.label{
    padding-left: 40px;
    padding-right: 80px;
    border-style: ridge;
    margin: 10px;
}

.formGroupPassword{
    border-style: solid;
}
    
    

.filterBar{
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
}
.btn-outline-secondary{
    border-color: hsl(0,0%,80%);
}

/*Banks card Css properties */
.card{
    
    width: 455px;
    height: 386px;
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 75px; 
    
}

.underline{
    
    text-align: center;
    margin-top: 56px;
    padding-bottom: 25px;
    width: 50%;
    border-bottom: 3px solid blue;
    text-underline: inherit;
    margin-left: 520px;
    
}

.heading1 {
    margin-top: 10px;
}

.line{
    
    
    border-bottom: 2px solid #007bff;
    padding: 25px;
    margin-left: 150px;
    margin-right: 150px;
}

.header{
    
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    
}

.logo{
    
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    padding-right: 0px;
    margin-bottom: 0px;
    list-style: none;
     
}

.navbar {
    position: relative;
    height: 95px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    
}

.nav-link {
    display: block;
    padding: 1.5rem 1rem;
    font-size: 25px;
  
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
}

/* 
    Search Css Properties
*/
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 350px;
    height: 55px;
}

.input-group-append {
    margin-left: -1px;
    margin-right: 350px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-top: -285px;
    
}

.logo1{
    
    
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 30%;
    
    
}


.row{
        margin-left: 10px;
}


.cardTwo{
    
    margin-top: 250px;
    
    
}

.card-img-top {
    
  
    padding-bottom: 0px;
    background-color: gray;
    text-align: center;
    font-size: 30px;
    width: 200px;
    
}


.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 40%;
    margin-bottom: -145px;
}
