body {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: fixed;
}

.name{
    font-size: 25px;
    color: red;
}
.container-fluid {
    text-align: center;
    color: black;
}

.signup {
   
    text-align: center;
}

.button {
  margin: auto;
  text-align: center; 
  font-size: 35px;
  justify-content: center;
    
}

.facebook {
    width: 200px;
    height: 35px;
  
}

.login {
    margin: auto;
  text-align: center; 
  font-size: 18px;
  justify-content: center;
  color: black;
}


.titlle{
    color: black;
}

.label{
    color: black;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

#inputPropertyUpload{
    border: 1px solid;
    color: #ced4da;
}

#selectPropertyUpload{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s 
}


.LogInPage{
    
    background: none;
}

.agree{
    padding-left: 40px;
    display: inline-block;
    
}

.disagree{
    padding-left:30px;
    display: inline-block;
}


.label{
    padding-left: 40px;
    padding-right: 80px;
    border-style: ridge;
    margin: 10px;
}

.formGroupPassword{
    border-style: solid;
}
    
    
/*Css for filter*/
.filterBar, .filcard, .message{
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
}
.btn-outline-secondary{
    border-color: hsl(0,0%,80%);
}

.message {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.detail1{
    height:100vh;
    margin-left: 28px;
    margin-right: 28px;
}

/*.reallogo{
    height: 45px;
    width: 45px;
}*/

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
.img-responsive1, .img-responsive2, .img-responsive3{
    height: auto;
    width: auto;
    max-height: 35px;
    max-width: 200px;
}

/*Banks card Css properties */
.card{
    
    /*width: 455px;
    height: 710px;*/
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 75px; 
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*Bank card Css properties */
.cardBank{
    
    width: 455px;
    height: 386px;
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 75px; 
    
}

.underline{
    
    text-align: center;
    margin-top: 56px;
    padding-bottom: 25px;
    width: 50%;
    border-bottom: 3px solid blue;
    text-underline: inherit;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px
}

.heading1 {
    margin-top: 10px;
}

.line{
    
    
    border-bottom: 2px solid #007bff;
    padding: 25px;
    margin-left: 150px;
    margin-right: 150px;
}

.header{
    
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    
}

.logo{
    
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    padding-right: 0px;
    margin-bottom: 0px;
    list-style: none;
     
}

.navbar {
    position: relative;
    max-height: 80px; 
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;*/
    
}

.nav-link {
    display: block;
    padding: 1.5rem 1rem;
    font-size: 18px;
    color: white !important
  
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
}

/* 
    Search Css Properties
*/
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 350px;
    height: 55px;
}

.input-group-append {
    margin-left: -1px;
    margin-right: 350px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-top: -285px;
    
}

.logo1{
    
    
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 30%;
    padding: 24px;
    
}


.row{
        margin-left: 10px;
}


.cardTwo{
    
    margin-top: 250px;
    
    
}

.card-img-top {
    
  
    padding-bottom: 0px;
    background-color: gray;
    text-align: center;
    font-size: 30px;
    width: 200px;
    
}


.cardHomeProperties {
    
    padding-bottom: 0px;
    background-color: gray;
    text-align: center;
    font-size: 30px;
    width: 455px;
    height: 230px;
    object-fit: contain;
}

/*search button home properties*/
.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    height: 56px;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 40%;
    margin-bottom: -145px;
}


.img-top {
    width: 100%;
    text-align:center;
    
}

.subheader{
    text-align:center;
}

.footer{
    position: relative;
    max-height: 80px;
}

/* home cards marging top */
.homeCard {
    margin-top: 175px !important;
}


.border {
    position: relative;
    border: 1px solid #dee2e6 !important;
    width: 33%;
    margin-top: 65px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.tag {
    
    text-align: center;
    padding: 10px;
}

.buttonSignUp {
    margin: auto;
    text-align: center;
    font-size: 45px;
    justify-content: center;
    padding-top: -18px;
    margin-top: 0px;
}

 /*---registration--------*/
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D3D3D3;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
  
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}

.email,
.password {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border: 1px solid #cfcfcf;
    
}
